[Unit]
Description=Boomer USA service

[Service]
TimeoutSec=infinity
Type=forking
ExecStart=/home/antonov/.local/bin/cool/boomer_usa.sh

[Install]
WantedBy=multi-user.target
