[Unit]
Description=Timer for vlad connection
Requires=kaiju.service

[Timer]
OnBootSec=1
OnUnitActiveSec=30
Unit=kaiju.service
WakeSystem=true

[Install]
WantedBy=multi-user.target
