[Unit]
Descrition=Timer for MACBOOKPRO 🚽
Requires=ssh_pro.service

[Timer]
OnBootSec=1
OnUnitActiveSec=20
Unit=ssh_pro.service
WakeSystem=true

[Install]
WantedBy=multi-user.target
